body {
  min-width: 480px;
  padding: 30px 10px 30px 30px;
  background-color: #ddd;
  font-family: "Gill Sans", sans-serif;
}

body:after {
  content: "";
  display: table;
  clear: both;
}

h1 small {
  font-size: 22px;
  font-weight: normal;
  margin-left: 4px;
  color: #888;
}

.project {
  float: left;
  padding: 0 25px 25px;
  margin: 20px 30px 0 0;
  max-width: 400px;
  background-color: #eee;
  border-radius:  10px;
  border: 1px solid #999;
}

.project.highlighted {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border: 1px solid #88f;
}

.project h2 {
  font-size: 32px;
}

.project h2 .subhead {
  font-size: 15px;
  font-weight: normal;
  margin-top: 7px;
  padding-left: 20px;
}

.button {
  display: block;
  float: left;
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 2px solid black;
  border-radius:  10px;
  background-color: teal;
  text-shadow: 1px 1px 1px black;
}

#footer {
  clear: both
}
