body {
  margin: 0; padding: 0; 
  width: 1100px;
  position: relative;
  font-family: "Gill Sans", sans-serif;
}
#sidePanel {
  width: 300px;
  height: 480px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: gainsboro;
}
#video {
  width: 300px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}
#sidePanel #playbackPanel { display: block; }
#sidePanel #recordPanel { display: none; }
.readyToRecord #sidePanel #playbackPanel { display: none; }
.readyToRecord #sidePanel #recordPanel { display: block; }

#recorderButton.save {
  position: static;
  top: 0;
}

.textLine {
  display: block;
  width: 300px;
  text-align: center;
  line-height: 1.6;
}

.textLine.score {
  font-size: 30px;
  color: black;
  font-weight: bold;
  line-height: 80px;
}

.textLine.score #score {
  font-size: 50px;
}

.textLine.foot {
  margin-top: 30px;
  font-size: 12px;
}

.textLine.foot a {
  color: black;
}
.textLine.foot a:hover {
  text-decoration:none;
}

#coverageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 1100px;
  height: 480px;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.75);
}

#coverageModal .inner {
  padding: 40px 340px 40px 40px;
}

#coverageModal .inner p {
  margin: 15px 0;
}

h1 {
  margin: 0;
}

h1 span {
  display: block;
  float: left;
  border: 1px solid black;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  color: black;
  text-shadow: 0 0 5px white;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  font-size: 60px;
}

body.videoLoaded.choreoLoaded .loader,
body.videoLoaded.readyToRecord .loader { display: none; }
body.videoLoaded.choreoLoaded .toLoad,
body.videoLoaded.readyToRecord .toLoad { display: block; }

.toLoad {
  display: none;
  padding-top: 10px;
}

.showForTutorial { display: none; }
body.tutorial .showForTutorial { display: block; }
body.tutorial .hideForTutorial { display: none; }
body.choreoLoaded #isChoreoMode {display: none; }
body.readyToRecord .toLoad #isGame,
body.readyToRecord .toLoad #isTutorial { display: none; }

.modalButton {
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 30px 10px 0;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 2px solid black;
  border-radius:  10px;
  background-color: teal;
  text-shadow: 1px 1px 1px black;
}

.modalButton.primary {
  background-color: green;
}

.modalButton#mobileReminder {
  font-size: 16px;
  padding: 5px 15px;
}

.loader {
  padding-top: 30px;
  text-align: center;
}

.loader div {
  height: 200px;
  background-image: url('assets/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

.about {
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.about a {
  color: black;
}

.about a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
